
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/';
$image-theme-path-base:'../image/green/'!default;

$green              :#3fc843;
$theme-color        :$green; 
