
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/';
$image-theme-path-base:'../image/red/'!default;

$red              :#ff8200;
$theme-color        :$red; 
