
// -------------------------
$icon-font-path       : "../../fonts/";
$theme-font-path      :"../../fonts/";

// Image
// -------------------------
$image-theme-path     :'../../image/';
$image-theme-path-base:'../image/orange/'!default;

$orange              :#ff8200;
$theme-color        :$orange; 
